body {
    background: #1e1f24;
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: 400;
    font-size: .8em
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto
}

#container h1 {
    font-size: 25px
}

#post {
    background: #fff;
    padding: 1em
}


#titulo {
    background: rgb(35, 117, 224);
    color:white;
    text-align: center;
    padding: 0.5em;
}

#footer {
    background: #777;
    color:white;
    text-align: center;
    padding: 0.5em;
}